@import '../../../settings.scss';

.reviews_container {
    height: 100vh;
    background-color: rgba(147, 145, 145, 0.1);
    color: $color-white;
    display: flex;
    flex-direction: column;
    h2 {
        flex: 0 0 20%;
    }
    .reviews_container_inner {
        flex: 0 0 60%;
        position: relative;
        display: grid;
        place-items: center;
        overflow: hidden;
        .reviews_content_container {
            box-shadow: $box-shadow;
            border-radius: 20px;
            border: 1px solid $color-white;
            height: 60%;
            width: 60%;
            position: absolute;
        }
        .reviews_content {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 60%;
            height: 60%;
            display: grid;
            place-items: center;
            color: #fff;
            padding: 0 60px;
            transition: $transition;
            opacity: 0;
        }
        .reviews_content.active {
            transform: translate(-50%,-50%);
            opacity: 1;
            
        }
        .reviews_content.prev {
            transform: translate(-200%,-50%);
        }
        .reviews_content.next{
            transform: translate(100%,-50%);
        }
    }
    .reviews_dots_container {
        flex: 0 0 10%;
        display: flex;
        justify-content: center;
        .reviews_icon {
            transition: $transition;
            margin: 0 10px;
            cursor: pointer;
            font-size: 24px;
            overflow: hidden;
            border-radius: 50%;
            &:hover {
                background: $color-white;
            }
        }
        .reviews_icon.active {
            background: $color-white;
            overflow: hidden;
        }
    }
}


@include tablet {
    .reviews_container {
        h2 {
            flex: 0 0 10%;
        }
        .reviews_container_inner {
            .reviews_content_container {
                height: 80%;
                width: 80%;
            }
            .reviews_content {
                width: 100%;
                height: 100%;
            }
        }
        .reviews_dots_container {
            .reviews_icon {
                font-size: 40px;
            }
        }
    }

}

@include mobile {
    
}