@import '../../../settings.scss';

.btn {
    background-color: transparent;
    border-radius: 10px;
    padding: 14px 40px;
    margin-top: 20px;
    font-size: 24px;
    cursor: pointer;
    min-width: 100px;
    text-align: center;
    transition: $transition;
}

.btn_light {
    color: $color-white;
    border: 2px solid $color-white;
    &:hover {
        background-color: $color-white;
        color: $color-black;
        border: 2px solid $color-black;
    }
}

.btn_dark {
    color: $color-blue;
    border: 2px solid $color-blue;
    box-shadow: $box-shadow;
}

.btn_disabled {
    border: 2px solid $color-grey;
    background-color: rgba(31, 30, 30, 0.6);
    color: $color-white;
    cursor: auto;
}