@import '../../../settings.scss';

.logo_container {
    flex: 0 0 25%;
    display: grid;
    place-items: center;
    .logo {
        font-size: 42px;
        color: $color-white;
    }
}

@include tablet {
    .logo_container {
        flex: 0 0 20%;
        .logo {
            font-size: 36px;
        }
    }
}

@include mobile {
    .logo_container {
        flex: 0 0 20%;
        .logo {
            font-size: 36px;
        }
    }
}