@import '../../../settings.scss';

.blog_content_container {
    height: auto;
    min-height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1514803400321-3ca29fc47334?ixlib=rb-4.0.3&ixid=&auto=format&fit=crop&w=2072&q=80');
    background-size: 100% 100%;
    .blog_content_overlay {
        width: 100%;
        height: 100%;
        background-color: rgba(31, 30, 30, 0.8);  
        padding: 160px 0 60px 0;
        backdrop-filter: blur(6px);
        min-height: 100vh;
        .article_container {
            border: 2px solid $color-white;  
            box-shadow: $box-shadow;
            margin: 0 160px;
            border-radius: 22px;
            .img_container {
                height: 800px;
                img {
                    width: 100%;
                    height: 100%;
                    background-size: 100% 100%;
                    border-radius: 22px;
                    border-bottom-left-radius: 0; 
                    border-bottom-right-radius: 0; 
                }
            }
            .article_content {
                color: #fff;
                padding: 80px;
                margin: 0;
                text-align: justify;
                line-height: 38px;
                font-size: 22px;
                h2 {
                    font-size: 36px;
                    margin-bottom: 20px;
                }
                .article_social {
                    text-align: end;
                }
            }
        }
    }
   
}


@include tablet {
    .blog_content_container {
        .blog_content_overlay {
            .article_container {
                margin: 0 50px;
                .img_container {
                    height: 450px;
                }
                .article_content {
                    line-height: 46px;
                    font-size: 32px;
                    padding: 40px;
                    h2 {
                        margin: 38px 0;
                    }
                }
            }
        }
    }   
}

@include mobile {
    .blog_content_container {
        .blog_content_overlay {
            .article_container {
                margin: 0 20px;
                .img_container {
                    height: 450px;
                    display: none;
                }
                .article_content {
                    line-height: 32px;
                    font-size: 24px;
                    padding: 20px;
                    text-align: start;
                    h2 {
                        margin: 38px 0;
                    }
                }
            }
        }
    }  
}