@import '../../settings.scss';

.navbar_container {
    height: 80px;
    background-color: transparent;
    transition: $transition;
    display: flex;
}

.navbar_scroll {
    background-color: $color-black;
    opacity: 0.9;
    position: fixed;
    width: 100%;
}