.navbar_container {
    height: 80px;
    background-color: transparent;
    transition: 2s all;
}

.navbar_scroll {
    background-color: rebeccapurple;
    opacity: 0.7;
    position: fixed;
    width: 100%;
}