@import '../../../settings.scss';

.pagination {
    list-style-type: none;
    display: flex;
    justify-content: center;
    .page_item {
        text-decoration: none;
        color: $color-white;
        padding: 4px 10px;
        border: 2px solid $color-white;
        border-radius: 10px;
        margin: 0 8px;
        cursor: pointer;
        font-size: 12px;
    }
    .page_item_active {
        background-color: $color-white;
        color: $color-black;
    }
}


@include tablet {    
    .pagination {
        .page_item {
            font-size: 24px;
        }
    }
}

@include mobile {
    .pagination {
        padding: 0;
        .page_item {
            font-size: 24px;
        }
    }
}