@import '../../../settings.scss';

.contact_container {
    height: 130vh;
    background-color: rgba(31, 30, 30, 0.6);
    color: $color-white;
    display: flex;
    flex-direction: column;
    h2 {
        flex: 0 0 20%;
    }
    .contact_data {
        flex: 0 0 10%;
        display: flex;
        align-self: center; 
        justify-content: space-between;
        width: 50%;      
    }
    .form_container {
        flex: 0 0 40%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        form {
            height: 80%;
            width: 50%;
            display: flex;
            flex-direction: column;
            input, textarea {
             background-color: transparent;
             border: 2px solid $color-white;
             color: #fff;
             font-size: 24px;
             padding: 20px;
             border-radius: 6px;
             outline: none;
             width: 100%;
             font-weight: bold;
             &::placeholder {
                color: #fff
             }
            }
            button {
                width: 50%;
                align-self: flex-end;
            }
            input {
                height: 60px;
            }
            textarea {
                height: 300px;
                resize: none;
            }
         }
    }
    .company_data {
        flex: 0 0 10%;
        padding-bottom: 20px;
        address {
            height: 100%;
            display: grid;
            place-items: end;
            padding-right: 60px;
        }
    }
}

@include tablet {
    .contact_container {
        height: 100vh;
        h2 {
            flex: 0 0 10%;
        }
        .contact_data {
            width: 90%;   
        }
        .form_container {
            form {
                height: 90%;
                width: 80%;
            }
        }
        .company_data {
            address {
              font-size: 32px;
            }
        }
    }
}

@include mobile {
    .contact_container {
        height: 100vh;
        h2 {
            flex: 0 0 10%;
        }
        .contact_data {
            width: 90%;   
        }
        .form_container {
            form {
                height: 90%;
                width: 80%;
            }
        }
        .company_data {
            address {
              font-size: 32px;
            }
        }
    }
}