@import '../../../settings.scss';

.contact_container {
    height: 100vh;
    background-color: rgba(31, 30, 30, 0.6);
    color: $color-white;
    display: flex;
    flex-direction: column;
    h2{
        flex: 0 0 20%;
    }
    .form_container {
        flex: 0 0 80%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        form {
            height: 80%;
            width: 50%;
            display: flex;
            flex-direction: column;
            input, textarea {
             background-color: transparent;
             border: 2px solid $color-white;
             color: #fff;
             font-size: 24px;
             padding: 20px;
             border-radius: 6px;
             outline: none;
             width: 100%;
             font-weight: bold;
             &::placeholder {
                color: #fff
             }
            }
            button {
                width: 50%;
                align-self: flex-end;
            }
            input {
                height: 60px;
            }
            textarea {
                height: 300px;
                resize: none;
            }
         }
    }
}