@import '../../../settings.scss';

.blog_all_container {
    height: auto;
    min-height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1514803400321-3ca29fc47334?ixlib=rb-4.0.3&ixid=&auto=format&fit=crop&w=2072&q=80');
    background-size: 100% 100%;
    color: $color-white;
    .blog_all_overlay {
        width: 100%;
        min-height: 100vh;
        height: 100%;
        background-color: rgba(31, 30, 30, 0.8);  
        padding: 80px 0;
        backdrop-filter: blur(6px);
    }
    .blog_all_inner {
        min-height: 100vh;
        flex: 0 0 70%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 80px;
        place-items: center;
        padding: 40px 80px;
        .blog_all_article {
            border: 1px solid $color-white;
            box-shadow: $box-shadow;
            border-radius: 10px;
            display: grid;
            place-items: center;
            padding: 30px 40px;
            p {
                font-size: 22px;
                text-align: justify;
            }
        }
    }
   
}


@include tablet {
    
}

@include mobile {
    
}