@import '../../../settings.scss';

.blog_all_container {
    height: auto;
    min-height: 120vh;
    background-image: url('https://images.unsplash.com/photo-1514803400321-3ca29fc47334?ixlib=rb-4.0.3&ixid=&auto=format&fit=crop&w=2072&q=80');
    background-size: 100% 100%;
    color: $color-white;
    .blog_all_overlay {
        width: 100%;
        min-height: 120vh;
        height: 100%;
        background-color: rgba(31, 30, 30, 0.8);  
        padding: 80px 0;
        backdrop-filter: blur(6px);
    }
    .blog_all_inner {
        min-height: 100vh;
        flex: 0 0 70%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 80px 60px;
        place-items: center;
        padding: 40px 80px;
        .blog_all_article {
            height: 550px;
            border: 1px solid $color-white;
            box-shadow: $box-shadow;
            border-radius: 10px;
            .button_container {
                height: 40%;
                padding: 0 20px;
                margin: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                h2 {
                    text-align: center;
                    min-height: 60px;
                }
            }
           img {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            width: 100%;
            height: 60%;
           }
        }
    }
   
}


@include tablet {    
    .blog_all_container {
        .blog_all_inner {
           grid-template-columns: 1fr;
           align-items: start;
        }
    }
}

@include mobile {
    .blog_all_container {
        min-height: 140vh;
        .blog_all_overlay {
            min-height: 140vh;
        }
        .blog_all_inner {
            grid-template-columns: 1fr;
            align-items: start;
            padding: 40px;
            .blog_all_article {
                .button_container {
                    h2 {
                        min-height: 80px;
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}