@import '../../../settings.scss';

.blog_container {
    height: 140vh;
    background-color: rgba(31, 30, 30, 0.6);
    color: $color-white;
    display: flex;
    flex-direction: column;
    position: relative;
    h2 {
        padding-top: 60px;
        flex: 0 0 10%;
    }
    .blog_container_inner {
        flex: 0 0 70%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 80px;
        place-items: center;
        padding: 40px 80px;
        .blog_article {
            border: 1px solid $color-white;
            box-shadow: $box-shadow;
            border-radius: 10px;
            display: grid;
            place-items: center;
            padding: 30px 40px;
            p {
                font-size: 22px;
                text-align: justify;
            }
        }
    }
    .blog_redirect {
        flex: 0 0 10%;
        display: grid;
        justify-items: end;
        padding-right: 80px;
    }
}

@include tablet {
    .blog_container {
        height: 200vh;
        h2 {
            flex: 0 0 10%;
            padding-top: 0;
        }
        .blog_container_inner {
            grid-template-columns: 1fr;
            .blog_article {
                padding: 50px;
                p {
                    font-size: 28px;
                }
            }
        }
    }
}

@include mobile {
    .blog_container {
        height: 260vh;
        h2 {
            flex: 0 0 10%;
        }
        .blog_container_inner {
            grid-template-columns: 1fr;
            padding: 10px 40px;
            .blog_article {
                p {
                    font-size: 16px;
                }
            }
        }
    }
}