@import '../../../settings.scss';

.blog_container {
    height: 126vh;
    background-color: rgba(31, 30, 30, 0.6);
    color: $color-white;
    display: flex;
    flex-direction: column;
    position: relative;
    h2 {
        padding: 60px 0 30px 0;
        flex: 0 0 10%;
    }
    .blog_container_inner {
        flex: 0 0 60%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 80px 60px;
        place-items: center;
        padding: 0 80px 40px 80px;
        .blog_article {
            border: 1px solid $color-white;
            height: 500px;
            box-shadow: $box-shadow;
            border-radius: 10px;
            .button_container {
                height: 40%;
                padding: 0 20px;
                margin: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                h2 {
                    text-align: center;
                    padding: 20px 0;
                    margin: 0;
                    min-height: 80px;
                }
            }
           img {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            width: 100%;
            height: 60%;
           }
        }
    }
    .blog_redirect {
        flex: 0 0 10%;
        display: grid;
        justify-items: end;
        padding-right: 80px;
    }
}

@include tablet {
    .blog_container {
        height: 180vh;
        h2 {
            flex: 0 0 10%;
            padding-top: 0;
        }
        .blog_container_inner {
            grid-template-columns: 1fr;
            padding: 0 40px 40px 0;
        }
    }
}

@include mobile {
    .blog_container {
        height: auto;        
        h2 {
            flex: 0 0 10%;
            padding-top: 0;
        }
        .blog_container_inner {
            grid-template-columns: 1fr;
            padding: 10px 40px;
            .blog_article {
                p {
                    font-size: 16px;
                }
                .button_container {
                    h2 {
                        min-height: 90px;
                    }
                }
            }
        }
        .blog_redirect {
            margin-bottom: 40px;
        }
    }
}