@import '../../../settings.scss';

.subtitle {
    margin: 0;
    padding: 20px 0;
    font-size: 24px;
    display: grid;
    place-items: center;
}


@include tablet {
    .subtitle {
        font-size: 32px;
    }

}

@include mobile {
    
} 